@font-face {
    font-family: hero;
    src: url(/Fontes/Futura\ Display\ BQ\ Regular.otf);
}
body{
    background-color: #1A1A1A;
    font-family: 'pangolin', cursive;
    color: #d7d8c9;
    margin: 0;
}
header{
    background-color: #1A1A1A;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    min-height: 60px;
}
header img{
    width: 100px;
    z-index: 2;
    filter: invert(1);
}
h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    flex-grow: 1;
    margin: 0;
    font-family: 'hero';
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    text-align: center;
}
form{
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}
label{
    font-family: 'hero', cursive;
    font-size: 100px;
    transition: 0.6s ease;
}
label:hover{
    opacity: 70%;
    cursor: pointer;
    font-size: 125px; 
}
#senha{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.6s ease, max-height 0.6s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;


}
#senha.visivel{
    opacity: 1;
    max-height: 200px;
    margin-top: 10px;
}
input{
    background-color: #d7d8c9;
    border-bottom: #1A1A1A;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 0px;
    width: 356px;
    line-height: 26px;
    font-family: 'hero', cursive;
    padding-block-end: 4px;
    padding-block-start: 4px;
    font-size: 15px;
}
button{
    position: relative;
    background-color: #d7d8c9;
    color: #1A1A1A;
    border: none;
    border-bottom-left-radius: 99999px;
    border-bottom-right-radius: 99999px;
    border-top-left-radius: 99999px;
    border-top-right-radius: 99999px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 10px;
    cursor: pointer;
    width: 416px;
    font-family: 'hero', cursive;
    font-size: 16px;
    font-size-adjust: none;
    text-align: center;
    height: 40px;
    font-weight: 400;
    transition: 0.6s;
}
button:hover{
    color: #580415;
    opacity: 70%;
    transform: translateY(-3px);
}