@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Pangolin&display=swap');

@font-face {
    font-family: amoera;
    src: url(/Fontes/amoera-Regular.ttf);
}
@font-face {
    font-family: bulgia;
    src: url(/Fontes/Bulgia.otf);
}
@font-face {
    font-family: hero;
    src: url(/Fontes/Futura\ Display\ BQ\ Regular.otf);
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'amoera', cursive;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1A1A1A;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    min-height: 100px;
    flex-shrink: 0;
}

.box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d7d8c9;
    font-size: 1rem;
    font-family: 'bulgia', cursive;
}

.box h1 {
    font-size: 40px;
}

header img {
    right: auto;
}

.logo {
    display: flex;
    align-items: center;
}

main {
    font-size: 17px;
    background-color: #d7d8c9;
    flex-grow: 1;
}

.catalogo {
    border-top: 1px solid #d7d8c9;
    background-color: #1A1A1A; 
    padding: 10px;
    display: block;
    text-align: center;
    color: #d7d8c9;
    text-decoration: none;
    font-family: 'bulgia';
    font-size: 13px;
    transition: 0.5s ease;
}

.catalogo:hover {
    color: #8a8787;
}

footer {
    background-color: #1A1A1A;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    min-height: 100px;
    flex-shrink: 0;
}

.final {
    font-family: 'bulgia';
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d7d8c9;
    font-size: 1rem;
}

.logofooter {
    display: flex;
    align-items: center;
    width: 100px;
    right: auto;
    filter: invert(1);
}